@model IEnumerable<WebBook.Models.Menu>

@if (Model != null && Model.Any())
{
	<ul class="navbar_menu">
		@foreach (var item in Model)
		{
			<li><a asp-controller="@item.Name" asp-action="Index" >@item.Name</a></li>
		}
	</ul>
}