@model WebBook.ViewModels.CreatePostVM


@{
    ViewData["Title"] = "Them bai viet moi";
}

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-area="Admin" asp-controller="Post" asp-action="Index" class="nav-link">Danh muc</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link">@ViewData["Title"]</a>
        </li>
    </ul>
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Them moi tin tuc</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Danh muc</a></li>
                    <li class="breadcrumb-item active">Them moi</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Them danh muc</h3>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                <!-- your steps content here -->
                <form asp-action="Create" asp-controller="Post" asp-area="Admin" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Ten danh muc</label>
                        <input asp-for="Title" type="text" class="form-control">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group" data-select2-id="52">
                        <label>Danh muc</label>
                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="9" tabindex="-1" aria-hidden="true">
                            <option selected="selected" data-select2-id="11">Alabama</option>
                            <option data-select2-id="53">Alaska</option>
                            <option disabled="disabled" data-select2-id="54">California (disabled)</option>
                            <option data-select2-id="55">Delaware</option>
                            <option data-select2-id="56">Tennessee</option>
                            <option data-select2-id="57">Texas</option>
                            <option data-select2-id="58">Washington</option>
                        </select>
                        <span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" data-select2-id="10" style="width: 100%;">
                            <span class="selection">
                                <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-vm51-container">
                                    <span class="select2-selection__rendered" id="select2-vm51-container" role="textbox" aria-readonly="true" title="Alabama">Alabama</span>
                                    <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                                </span>
                            </span>
                            <span class="dropdown-wrapper" aria-hidden="true"> </span>
                        </span>
                    </div>

                    <div class="form-group">
                        <div class="mb-2">
                            <img class="img-fluid" id="image" />
                        </div>
                        <div class="mb-2">
                            <label>Anh</label>
                            <input type="file" asp-for="Image" class="custom-file" />

                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Chi tiet</label>
                        <textarea asp-for="Detail" class="form-control" rows="17"></textarea>
                        <span asp-validation-for="Detail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Seo title</label>
                        <input asp-for="SeoTitle" type="text" class="form-control">
                        <span asp-validation-for="SeoTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Seo Description</label>
                        <input asp-for="SeoDescription" type="text" class="form-control">
                        <span asp-validation-for="SeoDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Seo Keywords</label>
                        <input asp-for="SeoKeywords" type="text" class="form-control">
                        <span asp-validation-for="SeoKeywords" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a asp-action="Index" asp-controller="Category" asp-area="Admin" class="btn btn-primary" onclick="stepper.previous()">Previous</a>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>

                </form>

            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            @ViewBag.Error
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(".custom-file").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            document.getElementById('image').src = window.URL.createObjectURL(this.files[0]);
        });
    </script>
}